<div>

  <h2> SIGN UP </h2>

  <% if (currentUser) { %>

    <a href="/logout"> Log Out </a>
    <br />

    <b> <%= currentUser.userName %> </b>

    <% else %>

    <a href="/"> Home </a>

  <% } %>

</div>
