body {
  background-color: snow;
}


.images {
  height: 35vh;
  width: 15vw;
  margin-bottom: 15px;
}

.image-box {
  display: flex;
  justify-content: space-between;
  padding: 5vh 2vw;
  flex-direction: column;
  width: 29vw;
  font-size: 1.3vw;
  color: #0e0b16;
  line-height: 2;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  height: 45px;
  align-self: center;
  justify-content: space-between;
  color: snow;
  background-color: teal;
  margin-bottom: 10vh;
  padding: 0 3vw 0 13vw;
}

h1 {
  font-size: 50px;
  padding-bottom: 12px;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 4%;
}
