@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #205ee5;
  /* padding: 0 4px; */
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  margin-top: 0px;
  /* padding: 10px; */
  text-align: center;
}

h2 {
  text-align: center;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  color: burlywood;
}

nav {
  /* background: slategrey; */
  padding: 16px 40px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #eee;
}

.index-body {
  padding: 0 50px;
}

.nav-links {
  font-size: 17px;
  width: 20%;
  text-align: center;
}

.views-body {
  padding: 0 40px;
}


#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #205ee5;
  border: 1px solid #205ee5;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 50%;
  margin-left: 25%;
}

#form button:hover {
  background: #fff;
  color: #205ee5;
  transition: .3s ease background;
}

#editform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.index-body {
  background-image: url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 52em;
  color: snow;
}

#about {
  padding-top: 20px;
}
