<div class="index-body">

  <h2> Express Practice </h2>

  <hr />

  <div id="about">
    <p>
      We are a group of like minded indiviuals that enjoy creating apps that people will enjoy using.
    </p>
  </div>

</div>
