<h1> Express Practice </h1>

<p>
  starting new express website
</p>

<ol>
  <li>
    Think of a site to create.
  </li>
  <li>
    Plan out the layout for the site.
  </li>
  <li>
    Have user login/logout and signup page.
  </li>
  <li>
    Different styles for each page created.
  </li>
</ol>
