@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10em;
  align-items: center;
  background: lightslategrey;
}

.nav-btn {
  font-size: 1.2em;
  border: 1px solid midnightblue;
  background: skyblue;
  border-radius: .7em;
  display: inline-block;
  padding: 0.5em 1em;
  color: midnightblue;
  font-family: "Sedgwick Ave Display", sans-serif;
}

hr {
  margin: 0 0 20px 0;
  padding-bottom: 1px;
  background-color: lightslategrey;
}

h1 {
  font-family: cursive;
}

body {
  background-color: snow;
}

h2 {
  text-align: center;
  font-family: cursive;
  font-weight: 500;
}

.gifs, .images {
  width: 24vw;
  height: 100%;
}

.pirate-images {
  width: 15vw;
  height: 65%;
}

p {
  width: 23em;
  padding: 10px 20px 0;
  text-align: center;
}

.paragraph-divider {
  border-left: 1px solid lightgrey;
}

.btn {
  border-radius: .7em;
  display: inline-block;
  padding: 0.5em 1em;
  font-family: "Sedgwick Ave Display", sans-serif;
}

.gif-button, .image-button {
  background: midnightblue;
  border: 1px solid skyblue;
  color: skyblue;
}

.gif-button:hover, .image-button:hover {
  color: midnightblue;
  border: 1px solid midnightblue;
  background: skyblue;
}

.gif-button:focus, .image-button:focus {
  color: midnightblue;
  background: skyblue;
  border: 1px solid midnightblue;
  outline: none;
}

.main-body, .homePage-div {
  padding: 0 10em;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.currentTime, .currentDay {
  font-size: 2em;
}

.currentDayButton {
  background: lightseagreen;
  width: 8em;
}

.gifs-div {
  width: 30em;
  border-right: 1px solid lightgrey;
}

.img-container {
  display: flex;
  justify-content: space-around;
  width: 63vw;
}

.image-buttons {
  display: flex;
  justify-content: space-around;
}

.paragraph-div {
  display: flex;
  justify-content: center;
}

.login-logo {
  width: 4vw;
  height: 100%;
}

.logo {
  border: none;
  background: none;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

#editform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.login-logo-div {
  display: flex;
  justify-content: space-around;
  padding-left: 4em;
}
