nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10em;
  align-items: baseline;
}

a {
  font-size: 1.2em;
  border: 1px solid midnightblue;
  background: skyblue;
  border-radius: .7em;
  display: inline-block;
  padding: 0.5em 1em;
}

.main-body {
  padding: 0 10em;
}

.currentTime, .currentDay {
  font-size: 2em;
}
