nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10em;
  align-items: center;
  background: lightgrey;
}

a {
  font-size: 1.2em;
  border: 1px solid midnightblue;
  background: skyblue;
  border-radius: .7em;
  display: inline-block;
  padding: 0.5em 1em;
}

hr {
  margin: 1em 0;
}

h1 {
  font-family: cursive;
}

.main-body {
  padding: 0 10em;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.currentTime, .currentDay {
  font-size: 2em;
}

.currentDayButton {
  background: lightseagreen;
  width: 8em;
}
